<header class="header-4">
    <!-- <div class="branding">
        MyMovies
    </div> -->
    <div class="header-nav">
        <a routerLink="home" (click)="showPopularMovies('Most Popular')" class="active nav-link nav-text">MyMovies</a>
        <a routerLink="home" (click)="showNowPlayingMovies('Now Playing')" class="nav-link nav-text">Now Playing</a>
        <a routerLink="home" (click)="showPopularMovies('Most Popular')" class="nav-link nav-text">Most Popular</a>
        <a routerLink="login" class="nav-link nav-text">Log in</a>
    </div>

    

    <div class="header-actions">
        <form class="search">
            <label for="search_input">
                <input id="search_input" type="text" placeholder="Search for keywords..." [(ngModel)]="this.movieService.searchKeywords" [ngModelOptions]="{standalone: true}" (keydown.enter)="showSearchResults('Search Results')">
            </label>
        </form>

<!-- Show if user is signed in -->
<!-- 
    logout: 
    
    // Remove all saved data from sessionStorage
    sessionStorage.clear(); 

    communicate with database to logout and also clear session storage
    put in same function as the .subscribe

-->


        <clr-dropdown>
            <button class="nav-text" clrDropdownTrigger aria-label="open user profile">
                {{ this.userService.user.firstName }}
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                <a href="..." clrDropdownItem>Preferences</a>
                <a (click)="logout()" clrDropdownItem>Log out</a>
            </clr-dropdown-menu>
        </clr-dropdown>

<!-- Show if user is not signed in based on if there's a token in session storage -->
<!-- 
        <a href="javascript://" class="nav-link nav-icon-text">
            <clr-icon shape="user"></clr-icon>
            <span class="nav-text">username</span>
        </a> -->

    </div>

</header>