<header class="header-6">
        <!-- <div class="branding">
            MyMovies
        </div> -->
        <div class="header-nav">
            <a routerLink="home" (click)="showPopularMovies('Most Popular')" class="active nav-link nav-text">MyMovies</a>
            <a routerLink="home" (click)="showNowPlayingMovies('Now Playing')" class="nav-link nav-text">Now Playing</a>
            <a routerLink="home" (click)="showPopularMovies('Most Popular')" class="nav-link nav-text">Most Popular</a>

            <a routerLink="movie-details" class="nav-link nav-text">Movie</a>
        </div>

        <form class="search">
            <label for="search_input">
                <input id="search_input" type="text" placeholder="Search for keywords..." [(ngModel)]="this.movieService.searchKeywords" [ngModelOptions]="{standalone: true}" (keydown.enter)="showSearchResults('Search Results')" >
            </label>
        </form>

<!-- cog for user interactions -->
        <div class="header-actions">
            <a href="javascript://" class="nav-link nav-icon" aria-label="settings">
                <clr-icon shape="cog"></clr-icon>
            </a>
        </div>
</header>