<h2>Sign in with an existing account</h2>
<form clrForm clrLayout="horizontal">
    <clr-input-container>
        <label>Username</label>
        <input clrInput type="text" [(ngModel)]="loginForm.username" name="userName" placeholder="" required />
        <clr-control-error>User name is required</clr-control-error>
    </clr-input-container>

    <clr-password-container>
        <label>Password</label>
        <input clrPassword placeholder="Password" name="password" [(ngModel)]="loginForm.password" />
        </clr-password-container>

    <br><br>

    <button class="btn btn-primary" type="submit" (click)="userLogin()">Sign in</button>

</form>


<h2>Create a new account</h2>

<form clrForm clrLayout="horizontal">
    <clr-input-container>
        <label>First name</label>
        <input clrInput type="text" [(ngModel)]="registerForm.firstName" name="firstName" placeholder="Luke" required />
        <clr-control-error>First name is required</clr-control-error>
    </clr-input-container>

    <clr-input-container>
        <label>Last name</label>
        <input clrInput type="text" [(ngModel)]="registerForm.lastName" name="lastName" placeholder="Skywalker" required />
        <clr-control-error>Last name is required</clr-control-error>
    </clr-input-container>

    <clr-input-container>
        <label>Email</label>
        <input clrInput type="email" [(ngModel)]="registerForm.email" name="email" placeholder="thelastjedi@gmail.com" required />
        <clr-control-error>Email address is required</clr-control-error>
    </clr-input-container>

    <clr-input-container>
        <label>Username</label>
        <input clrInput type="text" [(ngModel)]="registerForm.username" name="userName" placeholder="" required />
        <clr-control-error>User name is required</clr-control-error>
    </clr-input-container>

    <clr-password-container>
        <label>Password</label>
        <input clrPassword placeholder="Password" name="password" [(ngModel)]="registerForm.password" />
        </clr-password-container>

    <br><br>

    <button class="btn btn-primary" type="submit" (click)="createAccount()">Create account</button>
 

</form>


<!-- <div class="modal">
    <div class="modal-dialog fadeDown in" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="close" type="button">
                    <clr-icon aria-hidden="true" shape="close"></clr-icon>
                </button>
                <h3 class="modal-title">I have a nice title</h3>
            </div>
            <div class="modal-body">
                <p>But not much to say...</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline" type="button">Cancel</button>
                <button class="btn btn-primary" type="button">Ok</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop fade in" aria-hidden="true"></div> -->