
<!-- <nav class="sidenav"> -->
    <section class="sidenav-content">
        <section class="nav-group">
            <input id="tabexample2" type="checkbox">
            <label for="tabexample2">Search By Genre</label>
            <ul class="nav-list">
                <li><a routerLink="home" class="nav-link" (click)="showGenre(28, 'Action Movies')">Action</a></li>
                <li><a routerLink="home" class="nav-link">Link 2</a></li>
            </ul>
        </section>
    </section>
<!-- </nav> -->
<!-- 
Genres:
35    comedy
878    sci-fi
27    horror
10749    romance
28    action
53    thriller
18    drama
9648    mystery
16    animation
12    adventure
14    fantasy
80    crime
35, 10749    rom-com
35, 28    action-comedy
    superhero
99    documentary
10751   family
26  history -->