<span *ngIf="this.movieService.pageLoading === true; else showDetails" class="spinner"></span>

<ng-template #showDetails>
<div class="clr-row clr-justify-content-between">
    <div class="clr-col">
        <h2>{{ this.movieService.movieDetails.title }} ({{ this.movieService.movieDetails.release_date.slice(0, 4) }}) <span>
            <clr-icon shape="bookmark" 
                      size="36" 
                      class="is-highlight bookmark-icon" 
                      (click)="addToFavorites(movieService.movieDetails.id)">
        </clr-icon>
            <!-- title, id, poster_path, overview, release_date, vote_average, userId -->
        </span></h2>
        <span>{{ movieService.movieDetails.tagline }}</span>
    </div>
</div>

<div class="clr-row">
    <div class="clr-col-4">
        <div class="card-img">
            <img *ngIf="movieService.movieDetails.poster_path !== null" src="https://image.tmdb.org/t/p/w300/{{ movieService.movieDetails.poster_path }}">
        </div>
    </div>
    <div class="clr-col">
        <h3>Synopsis</h3>
        <p>{{ movieService.movieDetails.overview }}</p>

        <!-- home component loads top rated movies onInit so need to change it to be able to load genre page from here -->
        
        <!-- <p><span *ngFor="let genre of this.movieService.movieDetails.genres">
            <button class="btn btn-link" (click)="showGenre(18, 'Romance')" [routerLink]="['/home']">{{ genre.name }} {{genre.id}}</button>
        </span> -->
        <p><span *ngFor="let genre of this.movieService.movieDetails.genres">
                <button class="btn btn-link">{{ genre.name }}</button>
            </span>
        </p>
    <p><b>Release Date: </b>{{ this.movieService.movieDetails.release_date }}</p>
    <p><b>Production Companies:</b> 
        <span *ngFor="let company of movieService.movieDetails.production_companies; index as i">
        {{ this.company.name }}<span *ngIf="(movieService.movieDetails.production_companies.length) > 1 && i !== (movieService.movieDetails.production_companies.length - 1)">, </span>
        </span>
    </p>
    <p><b>Runtime: </b>{{ this.movieService.movieDetails.runtime }} minutes</p>
    </div>
</div>
</ng-template>