<h1>My Favorites</h1>

<div class="clr-row clr-justify-content-between">
    <div *ngFor="let movie of userService.favoriteMovieDetails" class="clr-col-lg-6 clr-col-12">
        <div *ngIf="movie.title" class="card">
            <div class="card-header">
                {{ movie.title }} ({{ movie.release_date.slice(0, 4) }})
            </div>
            <div class="card-block">
                <div class="card-media-block">
                    <img *ngIf="movie.poster_path" src="https://image.tmdb.org/t/p/w300/{{ movie.poster_path }}" class="card-media-image">
                    <div class="card-media-description">
                        <span *ngIf="movie.release_date" class="card-media-title">
                            Released: {{ movie.release_date }}
                        </span>
                        <span *ngIf="movie.vote_average && movie.vote_average > 0" class="card-media-text">
                            Rating: {{ movie.vote_average }} <clr-icon class="is-solid" shape="star"></clr-icon>
                        </span>
                    </div>
                </div>
                <div *ngIf="movie.overview" class="card-text">
                    {{ movie.overview.slice(0, 100) }}... <a [routerLink]="['/movie-details/', movie.movie_id]">Read more >></a>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-link btn-sm" id="remove-fav-btn">Remove from favorites</button>
            </div>
        </div>
    </div>

<!-- shows if user is not logged in -->

<p *ngIf="userService.isLoggedIn === false">You are not logged in. <br>
<a [routerLink]="['/login']">Log in or Create an Account</a></p>
