<h1>{{ this.movieService.pageTitle }}</h1>
<div class="clr-row clr-justify-content-between">
    <div *ngFor="let movie of this.movieService.data" class="clr-col-lg-3 clr-col-md-4 clr-col-12">

        <!-- <div class="card card-size card-container clickable" (click)="navigateToMovieDetails({{ movie.id }})"> -->
        <div class="card card-size card-container clickable" (click)="navigateToMovieDetails()">

            <div class="card-img">
                <img src="https://image.tmdb.org/t/p/w300/{{ movie.poster_path }}">
            </div>
            <div class="card-header">
                {{ movie.title }}
                {{ movie.name }}
            </div>
            <div class="card-block">
                <div class="card-text">
                    {{ movie.overview.slice(0, 150)}}...
                </div>
            </div>
            <div class="card-footer clr-footer-alterations">
                <button class="btn btn-primary btn-sm">{{ movie.vote_average }} <clr-icon shape="star"></clr-icon></button>
                <button class="btn btn-sm btn-link">{{ movie.release_date }}</button>
            </div>
        </div>
    </div>
</div>

<!-- 
<a routerLink="movie-details"></a> (click)="showPopularMovies('Most Popular')" class="active nav-link nav-text">MyMovies</a> -->